<button
  type="button"
  class="p-2 rounded-full hover:bg-white/10 transition-colors cursor-pointer"
  aria-label="Pomodoro"
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
    <path d="M5 13a7 7 0 1 0 14 0a7 7 0 0 0 -14 0z"></path>
    <path d="M14.5 10.5l-2.5 2.5"></path>
    <path d="M17 8l1 -1"></path>
    <path d="M14 3h-4"></path>
  </svg>
</button>