<div class="relative min-h-screen w-full">
  <div
    class="bg-cover bg-center bg-no-repeat min-h-screen w-full flex flex-col"
    style="background-image: url('/images/cyberpunk1.jpeg');"
  >
    {{page-title "Lofi"}}

    <main class="flex-grow p-4 overflow-hidden">
      {{outlet}}
      <Player />
    </main>
  </div>

  <div class="rain-overlay"></div>
</div>