<div class="relative min-h-screen w-full">
  <div
    class="background-container bg-cover bg-center bg-no-repeat min-h-screen w-full flex flex-col"
  >
    {{page-title "Lofi"}}

    <main class="flex-grow p-4 overflow-hidden">
      {{outlet}}

      <Top />

      <Player />
    </main>
  </div>

  <div class="rain-overlay"></div>
</div>